:root{
    font-family: sans-serif;
}

body h1{
    width: 100%;
    text-align: center;
}

.forms{
    margin-left: 2em;
}

.tabs{
    display: flex;
    justify-content: center;
}

.tabs__sidebar{ 
    width: 150px;
    flex-shrink: 0;
}

.tabs__sidebar h3{
    margin-bottom:0.5rem;
    margin-top:0;
}

.tabs__button{ 
    list-style-type: none;
    padding: 0.5em;
    width: 100%; 
    cursor: pointer;
}

.tabs__button:active{
    color:blue; 
    font-weight: 700;
}


.tabs__content{
    border: 1px solid #cccccc; 
    padding: 1em;
    display: none;
    width: 50em;
    height: 30em;
    overflow-x: hidden;
    overflow-y: auto;
}

.tabs__content--active{
    display: block;
}

.form__new-user{
    display:flex;
    flex-direction: column;
}

.form__new-user input{
    width:40%; 
}

.form__new-user label{
    margin-top: 1em;
}

.submit{
    width: 10% !important;
    margin-top: 1em;
}

.output__display{
    border: 1px solid #cccccc;
    padding: 2em
}
