:root{
  --darkest: #111111;
  --dark-accent: #05a4af;
  --mid-grey: #767676; 
  --light-grey: #b8b8b8; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: inherit
}
.testMsg{
  color: green;
}

.msg-small{
  font-size: 0.8em;
  padding: 0.1rem;
  margin: 0.1rem;
}

.main__nav-bar{
  width: 100vw; 
  background-color: var(--darkest);
  color: white;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main__nav-bar h1{
  padding-left: 1rem;
}

.main__nav-bar h1:hover{
  padding-left: 1rem;
  cursor:pointer
}

.main__nav-bar ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

.main__nav-bar li{
  text-decoration: none;
  font-weight: 600;
}

.main__link{
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  padding: 0 0.75rem;
}

.main__link:hover{
  color: var(--dark-accent);
  transition: 0.3s ease-in-out;
}

.home{
  padding: 1rem;
}

.main{
  display: flex; 
  flex-direction: column;
}


.OptionsMenu__nav{
  margin-right: 1em;
  padding: 1em;
  background-color: var(--mid-grey);
  border-bottom: 1px solid grey;
  font-weight: 800 !important;
  font-size: 1em;
  width: 100%;
}

.options nav{
  display: flex;
  flex-direction: row;
  align-items: end;

}

.OptionsMenu__link{
  color: white !important;
}

.OptionsMenu__link:hover {
  color: var(--dark-accent) !important;
  transition: 0.3s ease-in-out;
  
}

.OptionsMenu__link:hover::after{
  content: "";
  width: 30%;
  height: 2px; 
  background: var(--dark-accent); 
  position: absolute;
  bottom: -4px;
  left:20px;
}

.link{
  margin: 1rem 2rem;
  text-decoration: none;
  color: inherit; 
  font-weight: 700;
}

.link:visited{
  text-decoration: none;
}


.container__insert{
  display: flex;
  flex-direction: column;
}

.insert__flname input{
  margin-right: 0.5rem;
}

.container__header{
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.container__response{
  border: 1px #999999 solid; 
  border-radius: 5px;
  width: 80%;
  margin: 2rem 3rem;
  padding: 1rem;
}

.container__response p{
  color: green;
  font-weight: 600; 
}

.container__response h3{
  color: #777;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
}

.form-field{
  padding: 1em;
}

.form-field form{
  display: flex; 
  flex-direction: column;
  width: 40%; 
}

.form-field label{
  margin-top: 1rem;
}

.submit {
  margin-top: 2rem;
  width: 30%;
}

.read__orderDate{
  display: flex;
}

.read__orderDate div{
  display: flex;
  align-items: end;
  justify-content: start;
  padding-right: 1em;
}

.read__orderDate label {
  padding-right: 0.5em;
}

.read__orderDate input{
  width: 40%
}

.dummy-home{
  padding: 1rem 3rem;
}

.dummy-home h3{
  color: var(--dark-accent);
}

.dummy-home p{
  font-size: 1.1em;
  font-weight: 550;
}